
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/Browse.VC.db
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
SchoolSystemApplication/SchoolSystemApplication/Debug/vc142.pdb
SchoolSystemApplication/SchoolSystemApplication/Debug/vc142.idb
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSystemApplication.obj
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSystemApplication.ilk
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSy.96ae7231.tlog/link.read.1.tlog
SchoolSystemApplication/Debug/SchoolSystemApplication.pdb
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/Browse.VC.db
SchoolSystemApplication/Debug/SchoolSystemApplication.exe
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
SchoolSystemApplication/SchoolSystemApplication/Debug/vc142.pdb
SchoolSystemApplication/SchoolSystemApplication/Debug/vc142.idb
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSystemApplication.obj
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSystemApplication.ilk
SchoolSystemApplication/SchoolSystemApplication/Debug/SchoolSy.96ae7231.tlog/link.read.1.tlog
*.pdb
*.exe
*.db
SchoolSystemApplication/.vs/SchoolSystemApplication/v16/.suo
*.pdb
