NZ School Information System 
1.Introduction screen should include: 
•	School name 
•	Contact details 
•	Latest events or upcoming events details 
•	Term dates 
•	Login and registration options for parents and teachers.  
•	It can also be logged in and controlled by an administration account (See Task 3 for more details)  
2.New teacher registration screen should include: 
•	A Menu with the following options: 
•	Registration: should have full name, gender, dob, email, contact number, classroom number, year they teach (e.g., year 1), username and password.  
•	Login: should be verified against teacher registration file 
•	Provide Maximum three login attempts to access the system. Otherwise notify them to login after some time. 
•	Creating student record should include: (See Task 5)  
3.Admin screen includes: 
•	Admin can access the class records and parent’s records. 
•	Report of the students who need help 
•	Report of the students who are in progressing state 
•	The report should include, classroom number, student full name, learning progress of each subject, teacher name and their parents contact number. 
4. Parent registration screen should include 
•	Full name, gender, dob, email, contact number, child full name or names, child classroom number, child parent/caregiver full name and the emergency contact number, username, and password. 
•	Login should be verified against parent registration file 
•	Provide Maximum three login attempts to access the system. Otherwise notify them to login after some time. 
•	Parents get options to view their children’s report and the school notices. 
 5. Student record screen should include  
         Following menu options: 
•	Add student record
•	Edit student record 
•	Delete student record 
•	Update record (adding another term observation) 
•	View the records  
•	Student record should include the following fields, 
•	 Full name, gender, math, science, writing, reading and Others (might be sports, art, music or friendly etc.) and Learning Progress.  
•	Learning progress could be measured by (Achieved, Progressing, Need Help).  
•	Each class must have separate file to manage their data. (For e.g., Room_20)  
 
